$blue: rgba(21, 81, 229, 1);
$blue-light: rgba(49, 108, 255, 1);
$blue-transparent: rgba(242, 246, 255, 1);
$light: #fff;
$grey: rgba(226, 228, 240, 1);
$grey-dark: rgba(130, 142, 173, 1);
$grey-light: rgba(242, 245, 249, 1);
$dark: rgba(7, 20, 53, 1);
$red: rgba(255, 61, 113, 1);
